

.bgImage {
 background: url('https://cdn.guidingtech.com/imager/assets/2019/05/227363/crop-picture-shapes-online-fi_4d470f76dc99e18ad75087b1b8410ea9.jpg?1559046829') center center no-repeat;
 height: 200px;
 border-radius: 10px;
}
