.dialogs {
display: grid;
grid-template-columns: 3fr 9fr;
}

.dialogsItems {
padding: 10px;
}

.dialog {
padding: 5px;
}

.dialog a{
text-decoration: none;
color: hsl(176, 100%, 26%);
}

.messages {
padding: 10px;
}

.message {
padding: 5px;
}

.dialogsItems .active {
  font-weight: 700;
}

